@tailwind base;
@tailwind components;

@layer components{
  .flex-center{
    @apply flex items-center justify-center
  }
  .flex-between{
    @apply flex items-center justify-between
  }
}

@tailwind utilities;


#search::-webkit-scrollbar {
  width: 6px;
}
#search::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}
#videos::-webkit-scrollbar {
  display: none;
}
#tags::-webkit-scrollbar {
  height: 4px;
}
#tags::-webkit-scrollbar-thumb {
  @apply bg-zinc-800;
}
#detail::-webkit-scrollbar {
  display: none;
}
#category::-webkit-scrollbar {
  display: none;
}
aside::-webkit-scrollbar {
  width: 4px;
}
aside::-webkit-scrollbar-thumb {
  @apply bg-transparent  rounded-full;
}
aside:hover::-webkit-scrollbar-thumb {
  @apply bg-zinc-700;
}
@media (max-width: 1200px) {
  aside svg {
    font-size: 20px;
  }
}
